@model SignUpModel;
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section head{
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>CreateAccount</title>

        <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />


    </head>
}
@section body{


        <form method="post">
            <div class="container">

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">BDate</label>
                            <input type="date" asp-for="BDate" class="form-control" />
                            <span asp-validation-for="BDate"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">User Name</label>
                            <input type="text" asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Confirm Password</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">

                            <input class="btn btn-primary" type="submit" value="Create Account" asp-action="CreateAccount" />

                        </div>
                    </div>
                </div>
                <div>
                    <span> @ViewData["message"] </span>
                </div>
            </div>
        </form>
 
}
