
@model List<ApplicationUser>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@section head{

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>getusers</title>
        <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    </head>
}
    @section body{

            <form method="post">

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ApplicationUser item in Model)
                                    {
                                        <tr>
                                            <td>@item.name</td>
                                            <td>@item.Email</td>
                                            <td> <a class="btn btn-primary" asp-action="UserRole" asp-route-name="@item.name" asp-route-UserId="@item.Id"> Add Role</a></td>

                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </form>


    }